.parent-form{
    margin-bottom: 1.875rem;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25rem;
    }

    .form-group {
        label {
        font-weight: $font-weight-bold;
        font-size: $font-size-m;
        }
    }

    input {
        padding: .625rem;
        border-radius: $border-radius;
        border: none;
        color: $secondary-color;
    }

    select {
        @extend input;

    }

    .form-group-captcha {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 1.25rem;
        gap: .625rem;

        .status-text {
            font-size: $font-size-s;
        }
    }

    .form-group-name {
        display: flex;
        gap: 1.25rem;
        
        input {
            width: 100%;
        }
    }

    .password-toggle-icon{
        display: flex;
        justify-content: space-between;
    }

    .required::after {
        content: "*";
        color: $color-red;
        margin-left: .125rem;
    }

    .form-btns {
        display: flex;
        justify-content: flex-end;
        gap: 1.25rem;

        input {
            width: 100%;
            font-weight: $font-weight-bold;
        }
    }

}