body {
    background: $body-gradient;
    font-family: $primary-font-family;
    font-size: $font-size-m;
    line-height: $primary-line-height;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: $base-text-color;
}

.container {
    background: $form-background;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}