$primary-color: #007bff;
$border-radius: 4px;
$color-red: #ff0000;
$secondary-color: #5fabb8;
$base-text-color: white;
$body-gradient:linear-gradient(
    to right,
    #136a8a,
    #267871
);
$form-background:  hsla(0,0%,100%,.1);


$primary-font-family:'Open Sans', sans-serif;
$font-size-m: 16px;
$font-size-s: 12px;
$primary-font-weight: 400;
$font-weight-bold:600;
$primary-line-height: 1.5;