@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Base styles */
.navbar {
  background-color: #414375;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 30px;
  position: relative;
  border-bottom: 1px solid #dbdbe6;
}

.logo img {
  width: 60px;
}

.nav-links {
  display: flex;
  gap: 1.875rem;
}

.nav-links a {
  text-decoration: none;
  color: #edf6ff;
}

.nav-links a:focus,
.nav-links a.active {
  color: #FFA500;
  border-bottom: 2px solid;
  transition: all 0.3s ease-in-out;
}

#menu-toggle {
  display: none;
}

/* Hamburger menu styles */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background: #edf6ff;
  transition: all 0.3s ease-in-out;
}

.menu-icon span:nth-child(1) {
  transform-origin: top left;
}

.menu-icon span:nth-child(3) {
  transform-origin: bottom left;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #414375;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em 0;
    transition: all 0.5s;
    padding-top: 3.75rem;
  }

  .nav-links a:focus,
  .nav-links a.active {
    color: #edf6ff;
    border: none;
  }

  .nav-links a {
    padding: 0.5em 1em;
    color: #edf6ff;
  }

  .menu-icon {
    display: flex;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #menu-toggle:checked ~ .menu-icon span {
    background-color: #edf6ff;
  }
}
